* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 15vh;
    background-color: #dad2d2;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

body {
    background-color: #f1efef;
}

#Portipar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    color: rgb(180, 7, 7);
    text-shadow: 0px 0px 5px rgba(180, 7, 7, 1);
}

#hashtag {
    width: 60px;
}

#Names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 20);
}

main {
    display: flex;
}

section {
    width: 120px;
    overflow-y: auto;
    max-height: calc(100vh - 15vh);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Card {
    background-color: #58a3b9;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px;
    border: 1px solid #000;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 20);
    cursor: pointer;
}

iframe {
    margin-top: 4px;
    width: 100%;
    height: 83vh;
    border: 1px solid black;


}