.tabuleiro {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.carta {
  width: 80px;
  height: 100px;
  background-color: #1e25ff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  user-select: none;
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.carta.flipped {
  background-color: white;
  color: #1e25ff;
  cursor: default;
  transform: rotateY(180deg);
  border: 2px solid #0a1bd3;
}

.carta .front, .carta .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.carta .front {
  background-color: #1e25ff;
  color: white;
}

.carta .back {
  background-color: white;
  color: #1e25ff;
  transform: rotateY(180deg);
}
.Explicaçao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 60vw;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 25px;
    margin: 20px auto;
    padding: 8px;
    gap: 8px;
}
.Explicaçao>p {
    color: gray;

}
.Explicaçao>h3 {
    color: green;
    text-align: center;
}